/**
 * 编写页面CSS
 */
html,body{
    width: 100%;
    height: 100%;
}
/*整体开始*/
.oper-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-width: 1023px;
    background-image: url("../images/inter-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*运营分析头部开始*/
.oper-c-header {
    position: relative;
    width: 98%;
    height: 8%;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}
/*警徽*/
.h-police {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.h-police > img {
    vertical-align: middle;
}
.h-police > p {
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
}
.h-center {
    position: relative;
    text-align: center;
    height: 100%;
}
.h-center > span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-shadow: 0 0 30px rgba(107,241,250,1);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.h-timeshow {
    position: absolute;
    right: 1%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*内容*/
.oper-c-content {
    width: 98%;
    height: 92%;
    padding-left: 1%;
    padding-right: 1%;
}
/*左边用户分析&&渠道分析*/
.c-left-user {
    overflow: hidden;
    position: relative;
    width: 25%;
    height: 100%;
}
.c-headcont {
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}
.c-headcont > a {
    padding-left: 10%;
    border-left: 4px solid #fff;
    cursor: pointer;
}
.c-headcont > a.active {
    color: #01fff1;
}
.c-hc-write1 {
    margin-right: 5%;
}
/*渠道分析内容切换内容*/
.c-cutcontent {
    position: relative;
    margin-top: 7%;
    height: 93%;
}
/*渠道分析内容*/
.tren-cont {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
}
/*各渠道使用情况*/
.trench-use-box {
    width: 100%;
    height: 20%;
    margin-bottom: 1%;
    padding-top: 3%;
}
.trench-use-header {
    position: relative;
    width: 50%;
    height: 18%;
    background-image: url("../images/inter-leftbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.trench-use-cont {
    width: 100%;
    height: 80%;
}
.angle-icon {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.angle-icon > i {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/inter-angle.png");
    background-repeat: no-repeat;
}
.ang-icon-tl {
    top: -2px;
    left: -2px;
    background-position: top left;
}
.ang-icon-tr {
    top: -2px;
    right: -2px;
    background-position: top right;
}
.ang-icon-br {
    bottom: -2px;
    left: -2px;
    background-position: bottom left;
}
.ang-icon-bl {
    bottom: -2px;
    right: -2px;
    background-position: bottom right;
}
/*图表*/
.use-listbox {
    display:  flex;
    justify-content: space-between;
    text-align: center;
}
.use-listbox > div {
    width: 25%;
}
/*各渠道新增用户数量*/
.trench-user-box {
    width: 100%;
    height: 30%;
    margin-bottom: 1%;
}
.trench-user-header {
    position: relative;
    width: 50%;
    height: 13%;
    background-image: url("../images/inter-leftbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.trench-user-cont {
    width: 100%;
    height: 81%;
}
/*各渠道累计办理业务占比*/
.trench-busi-box{
    width: 100%;
    height: 20%;
    margin-bottom: 1%;
}
.trench-busi-header {
    position: relative;
    width: 50%;
    height: 18%;
    background-image: url("../images/inter-leftbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.trench-busi-cont{
    width: 100%;
    height: 80%;
}
.trench-list {
    width: 38%;
    height: 100%;
}
.pro-write {
    width: 60%;
    height: 100%;
}
.pro-write > li {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50%;
}
.pro-w-flex .icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    color: #00ff94;
    vertical-align: middle;
}
.pro-w-flex p {
    display: inline;
    vertical-align: middle;
}
.pro-w-flex p > span {
    color: #00ffa2;
    font-weight: bold;
}
.pro-write > li > a {
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    width: 50%;
    height: 50%;
}
.pro-w-nodafult i {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #00ff94;
    color: #00ff94;
    font-size: 12px;
    line-height: 16px;
}
.pro-w-nodafult p {
    display: inline;
}
.pro-w-nodafult p > span {
    color: #00ffa2;
    font-weight: bold;
}
    /*各渠道办理业务统计*/
.trench-sum-box{
    position: relative;
    width: 100%;
    height: 26%;
}
.trench-sum-header {
    position: relative;
    width: 50%;
    height: 14%;
    background-image: url("../images/inter-leftbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.trench-sum-cont {
    width: 100%;
    height: 84%;
}
/*日周月*/
.trench-mouth {
    position: absolute;
    top: 50%;
    right: -100%;
    width: 100%;
    text-align: right;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.trench-mouth > a {
    color: #fff;
}
.trench-mouth > a.active {
    color: #01fff1;
}
.trench-mouth > a > i {
    display: inline-block;
    width: 2px;
    height: 10px;
    margin-right: 2%;
    background-color: #fff;
}
/**
 * 用户分析页面
 */
/*用户分析*/
.user-cont {
    position: absolute;
    top: 0;
    left: -100%;
    /*display: none;*/
    width: 100%;
    height: 100%;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
}
/*使用人数对比*/
.thenumuser-compar {
    width: 100%;
    height: 30%;
    padding-top: 3%;
}
.then-com-header {
    position: relative;
    width: 50%;
    height: 13%;
    background-image: url("../images/inter-leftbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.then-com-cont {
    width: 100%;
    height: 85%;
}
/*人员类型分析*/
.person-ana {
    width: 100%;
    height: 40%;
}
.per-ana-header {
    position: relative;
    width: 50%;
    height: 9%;
    background-image: url("../images/inter-leftbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.per-ana-cont {
    width: 100%;
    height: 90%;
}
.sector-listbox {
    position: relative;
    width: 100%;
    height: 49%;
}
.sector-dia {
    width: 50%;
    height: 100%;
}
.number-por {
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    line-height: 2;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.number-por span {
    color: #00ffa2;
    padding-left: 6%;
}
.sector-listboxtwo {
    position: relative;
    width: 100%;
    height: 49%;
}
.age-distri {
    position: relative;
    width: 60%;
    height: 100%;
}
.age-positionbox {
    width: 100%;
    padding-left: 20%;
}
.age-positionbox > p {
    float: left;
    display: inline-block;
    width: 50%;
}
.age-positionbox > p {
    display: flex;
    justify-content: space-between;
}
.agelist {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
}
/*新增用户趋势分析*/
.increase-user {
    width: 100%;
    height: 27%;
}
.incr-user-header {
    position: relative;
    width: 50%;
    height: 13.6%;
    background-image: url("../images/inter-leftbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.incr-user-cont {
    width: 100%;
    height: 86.6%;
}
/*右边交通管理&&业务情况*/
.c-right-traf {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}
/*中间*/
.c-center-usernumber {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 100%;
    /*background-image: url("../images/inter-centerver.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-size: 100% 100%;*/
}
/*用户注册数文字*/
.regis-user {
    text-align: center;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    cursor: pointer;
}
/*支微交官数据*/
.center-paybox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    margin-top: 6%;
}
.center-paybox > div {
    position: relative;
    width: 25%;
    height: 100%;
    background-image: url("../images/inter-centerbg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    text-align: center;
}
.center-paybox a {
    width: 100%;
}
.center-paybox a > i {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 2%;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    line-height: 40px;
}
.center-paybox svg {
    width: 40px;
    height: 40px;
    margin-right: 2%;
    fill: currentColor;
    vertical-align: middle;
}
.z-data > span {
    vertical-align: middle;

}
/*炫酷动画*/
.animation-bg {
    position: relative;
    width: 96%;
    height: 78%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url("../images/inter-centerver.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.animation-bg > p {
    display: flex;
    position: absolute;
    left: 2%;
    right: 2%;
    z-index: 10;
    width: 96%;
    justify-content: space-between;
    cursor: pointer;
}
.number-myriad {
    display: flex;
    position: absolute;
    left: 2%;
    right: 2%;
    z-index: 10;
    width: 96%;
    justify-content: space-between;
    cursor: pointer;
}
.number-myriad > span {
    text-shadow: 0 0 10px rgba(79,91,161,.3),0 0 20px rgba(79,91,161,.6),0 0 30px #4f5ba1;
}
    /*累计用户总数&&累计业务办理量*/
.animation-onewrite{
    top: 7%;
}
.number-one {
    top: 15%;
}
/*累计使用率&&今日新增用户*/
.animation-twowrite{
    top: 40%;
}
.number-two {
    top: 47%;
}
/*网上业务服务数量&&在线用户数量*/
.animation-threewrite{
    bottom: 19%;
}
.number-three {
    bottom: 8%;
}
/*超炫动画*/
.ball-rotation {
    position: absolute;
    width: 40%;
    bottom: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 50%;
    border: 1px solid red;
}
/**/
/**
* 公共的背景边框
*/
.public-bordershadow {
    position: relative;
    margin-top: 1%;
    border: 2px solid #2388ed;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 0px 40px rgba(16, 96, 228, .6);
    -moz-box-shadow: inset 0 0px 40px rgba(16, 96, 228, .6);
    box-shadow: inset 0 0px 40px rgba(16, 96, 228, .6);
}
.public-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}
/*字体粗体*/
.font-wei { font-weight: bold;}
.font-wei > em {
    font-weight: lighter;
}
